@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900");
:root {
    --negro: #252525;
    --oscuro: #131415;
    --rojo: #fc2933;
    --amarillo: #ffa400;
    --naranja: #FF7A00;
    --blanco: #fff;
    --gris: #4d4d4d;
    --grad: linear-gradient(to right, #FFA100, #FB103D);
    --maxWidth: 1530px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: var(--oscuro);
    color: var(--blanco);
    font-family: "Montserrat", sans-serif;
}

a {
    color: var(--blanco);
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

main {
    max-width: var(--maxWidth);
    position: relative;
    margin: 0 auto;
}


/* Header - Hamburger menú*/

header {
    position: relative;
    /* max-width: var(--maxWidth); */
}

._header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* max-width: var(--maxWidth); */
    padding-top: 30px;

}

.logoCont{
/* position: fixed; */
z-index: 11;
display: flex;    
justify-content: start;
/* padding-left: 14%; */
max-width: var(--maxWidth);
/* margin: 20PX; */

}


.logo {
    max-width: var(--maxWidth);
    margin-top: -20px;
    /* margin-left: -20px; */
    /* margin: 20px; */
    /* margin-left: 30px; */
    position: fixed;
    height: 65px;
    padding-left: 10%;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: end;
    gap: 30px;
    width: 100%;
    height: 60px;
    background-color: var(--oscuro);
    z-index: 10;
    padding-right: 10%;
}

.navbar span {
    font-size: .7rem;
}

.navbar i {
    color: #89560B;
    cursor: pointer;
    font-size: 20px;
}

.navbar i:hover {
    color: var(--amarillo);
}

.menu-active {
    color: var(--amarillo);
}

#home-icon {
    color: var(--amarillo);
}

.overlay {
    position: fixed;
    height: 200%;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}


/* Hero */

._hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px;
    margin-top: 20PX;
}

._hero_title {
    gap: 25px;
    width: 50%;
}

._hero_title h1 {
    font-size: 66px;
}

._hero_title h2 {
    font-size: 51px;
}

._hero_title p {
    font-weight: 300;
    margin-top: 20px;
    font-size: 23px
}

._hero_title a {
    background: var(--grad);
    color: var(--blanco);
    display: inline-block;
    text-align: center;
    margin-top: 34px;
    padding: 18px;
    border-radius: 15px;
    width: 166px;
    height: 50px;
    border: none;
    font-weight: 700;
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    letter-spacing: 0.5px;
    cursor: pointer;
}


/* Recomendación */

._recomendacion {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    box-sizing: content-box;
}

._recomendacion h3 {
    font-weight: 500;
    font-size: 22px;
    margin-left: 35px;
    margin-bottom: 20px;
}

._recomendacion_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0px 20px;
}

._recomendacion_container_pizza,
._carrito_container_products_product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    flex-direction: row;
    margin: 5px 0;
    border-radius: 15px;
    background: var(--negro);
    padding: 20px 15px;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    min-width: 290px;
    box-sizing: content-box;
}

._recomendacion_container_pizza div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

._recomendacion_container_pizza p,
._results_container_output_1 p,
._carrito_container_products_product p {
    opacity: 0.3;
}

._recomendacion_container_pizza h4,
._results_container_output_2 h5,
._carrito_container_products_product h4 {
    font-weight: 700;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 20px;
}

._recomendacion_container_pizza_img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
}

._recomendacion_container_pizza button,
._results_container_output_2 button {
    border-radius: 17.5px;
    background: var(--grad);
    padding: 7px 15px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

._recomendacion_container_pizza button:hover,
._results_container_output_2 button:hover,
._hero_title a:hover,
._carrito_container_end button:hover,
._carrito_btnClose:hover,
.btnAddProductCart:hover,
.btnRemoveProductCart:hover {
    background: var(--amarillo)
}

.btnAddProduct {
    position: relative;
    left: 3%;
}


/* Categorias */

._categorias {
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 40px;
    gap: 30px;
}

.ejecutable {
    width: 155px;
    height: 190px;
    z-index: 300;
    position: absolute;
    border-radius: 15px;
}

._categorias h3 {
    font-weight: 700;
    font-size: 22px;
    margin-left: 35px;
}

._categorias_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    text-align: center;
    font-weight:400;
    font-size: .85rem;
}

._categorias_container_opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--negro);
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    padding: 30px;
    width: 155px;
    height: 190px;
    cursor: pointer;
    margin: 5px;
    z-index: 1;
}

._categorias_container_opcion:hover {
    background: var(--gris);
}

.active {
    background: var(--gris);
}

.line {
    background: var(--grad);
    width: 25px;
    height: 4px;
    border-radius: 15px;
}


/* Results */

._results {
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

._results h3 {
    font-size: 26px;
    font-weight: 500;
    margin-left: 35px
}

._results_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding: 50px;
    gap: 25px;
}

._results_container_output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
    width: auto;
    height: 220px;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    gap: 12px;
}

._results_container_output img {
    width: 240px;
    height: 100px;
    object-fit: cover;
    border-radius: 16px;
}

._results_container_output_1 {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

._results_container_output_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}


/* Footer */

.footer {
    max-width: var(--maxWidth);
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer ul li {
    font-size: 15px;
    font-weight: 400;
}

.footer a:hover {
    color: var(--amarillo);
}

.footer p {
    margin-top: 40px;
    font-size: 17px;
}


/* Carrito */

._carrito {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100vh;
    background: var(--negro);
    border-bottom-left-radius: 15px;
    gap: 25px;
    padding: 10px 25px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    transform: translateX(-500%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    
}

._carrito_container_products {
    height: 68%;
    overflow-y: auto;
    
}

._carrito_btnClose {
    position: absolute;
    /* right: 20%; */
    width: 20px;
    height: 20px;
    background: var(--grad);
    border-radius: 4px;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    font-size: 10px;
}

._carrito_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 100%;
    margin-top: 50px;
}

._carrito_container h3 {
    font-size: 22px;
    font-weight: 500;
}

._carrito_container_btns {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cantidad {
    width: 26px;
    height: 26px;
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    font-family: "Montserrat", sans-serif;
}

._carrito_container_products_product {
    width: 90%;
    height: 105px;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
}

._carrito_container_products_product div {
    gap: 5px;
}

._carrito_container_products_product div h5 {
    font-weight: 500;
    font-size: 15px;
}

._carrito_container_products_product div p {
    font-weight: 400;
    font-size: 14px;
}

.btnRemoveProductCart,
.btnAddProductCart {
    border-radius: 8px;
    border: none;
    background: var(--grad);
    cursor: pointer;
    color: var(--blanco);
    font-size: 16px;
    width: 26px;
    height: 26px;
}

._carrito_container_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

._carrito_container_total_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--gris);
    gap: 8px;
    padding: 10px;
}

._carrito_container_total_details div {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

._carrito_container_total_details div {
    font-weight: 500;
    font-size: 14px;
}

._carrito_container_total_result {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

._carrito_container_total_result p {
    font-size: 22px;
    font-weight: 500;
}

._carrito_container_total_result h5 {
    font-size: 22px;
    font-weight: 700;
    color: var(--naranja)
}

._carrito_container_end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

._carrito_container_end button {
    background: var(--grad);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border-radius: 15px;
    border: none;
    color: white;
    padding: 18px 50px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

._carrito_container_end p {
    font-size: 13px;
    font-weight: 300;
    opacity: 0.3;
    letter-spacing: 0.5px;
    line-height: 15px;
}


.open-cart {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
}

.modalAdd1,
.modalAdd2,
.modalAdd3 {
    display: flex;
    position: fixed;
    height: 40px;
    width: 100%;
    background: var(--amarillo);
    color: var(--oscuro);
    bottom: 0;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: .8s;
    font-size: 20px;
    z-index: 100;
}

.modalAdd2 span,
.modalAdd1 span {
    font-weight: bolder;
    margin: 0 3px;
}

.showModal {
    transform: translateY(-100%);
    transition: .8s;
    z-index: 15;
}

.disable {
    background: var(--gris);
}